*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

html{
    /*Primary Colors*/
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /*Neutral Colors*/
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --ligth-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    font-family: 'Spartan', sans-serif;
    font-size: 62.5%;
}

body{
    height: 100vh;
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

main{
    display: flex;
    width: 80%;
    margin-inline: auto;
    flex-direction: column;
    padding: 5.2rem 2.4rem;
}

.first-content, .second-content{
    display: flex;
}

.first-content{
    justify-content: space-between;
    align-items: center;
}

.first-content h2{
    color: var(--very-dark-magenta);
    font-weight: 700;
    font-size: 4.8rem;
    max-width: 40rem;
}

.descripion  p{
    color: var(--dark-grayish-magenta);
    font-weight: 400;
    font-size: 1.6rem;
    max-width: 50rem;

    margin-top: 1.6rem;
}

.star-content{
    display: flex;
    background-color: var(--ligth-grayish-magenta);
    margin-bottom: 1.6rem;
    padding: 1.6rem 5.2rem 1.6rem 1.6rem;
    border-radius: .8rem;
    color: var(--very-dark-magenta);
    font-size: 1.6rem;
    font-weight: 500;
}

.last-star{
    margin-right: 1.6rem;
}

.star-content:nth-child(1){
    position: relative;
    left: -4.4rem;
}

.star-content:nth-child(2){
    position: relative;
    left: -2.4rem;
}

.reviews-card{
    padding: 2.4rem;
    margin-block: 4.8rem;
    margin-inline-end: 1.6rem;

    background-color: var(--very-dark-magenta);
    border-radius: .8rem;
}

.reviews-card:nth-child(2){
    position: relative;
    top: 1.6rem;
}

.reviews-card:nth-child(3){
    position: relative;
    top: 2.4rem;
}

.verified-buyer{
    color: var(--soft-pink);
}

.reviews-card h4{
    display: flex;
    align-items: center;

    margin-block-end: 1.6rem;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--ligth-grayish-magenta);
}

.reviews-card h4 img{
    border-radius: 50%;
    margin-inline-end: .8rem;
    width: 15%;
}

.reviews-card p{
    color: var(--ligth-grayish-magenta);
    font-size: 1.2rem;
    line-height: 2rem;
}

@media screen and (max-width:1125px){
    .star-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        margin-bottom: 1.6rem;
        padding: 1.6rem 1.6rem 1.6rem 1.6rem;

        font-size: 1.4rem;
        font-style: bold;
        font-weight: 700;
    }
   
    .star-content:nth-child(1){
    position: unset;
    left: unset;
    }

    .star-content:nth-child(2){
    position: unset;
    left: unset;
    }
}

@media screen and (max-width: 825px){
    body{
        background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    }

    main{
        width: 95%;
    }

    .first-content, .second-content{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .descripion{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
 
    .descripion p{
        margin-bottom: 1.6rem;
        
    }
    
    .stars{
        width: 100%;
    }

    .star-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        margin-bottom: 1.6rem;
        padding: 1.6rem 1.6rem 1.6rem 1.6rem;

        font-size: 1.4rem;
        font-style: bold;
        font-weight: 700;
    }
    
    .last-star{
        margin-right:unset;
    }    
    .reviews-card{
        width: 100%;
        padding: 2.4rem;
        margin-block: 1.6rem;
        margin-inline-end: 1.6rem;
    
        background-color: var(--very-dark-magenta);
        border-radius: .8rem;
    }
    
    .reviews-card:nth-child(2){
        position: unset;
        top: unset;
    }
    
    .reviews-card:nth-child(3){
        position: unset;
        top: unset;
    }
    
    .reviews-card h4{
        margin-block-end: 1.6rem;
    }

    footer{
        position: relative;
        top: -30px;
    }
}